<!--DEFAULT CONTENT-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">
<body>
<div class="container">
    <h1 layout:fragment="title"/>
    <div layout:fragment="content">
	  <style>
		  body, .container-fluid, .card {
				height: 100vh!important;
			}
		</style>
        <div class="card shadow mb-4">
		  <div class="card-header d-flex flex-row align-items-center">
			<h6 class="m-0 font-weight-bold">Your Upcoming Renewals</h6>
		  </div>
		  <div class="card-body">
				<div class="table-responsive">
          			<table class="table table-hover">
					  <thead>
						<th>Policy Id</th>
						<th>Policy Name</th>
						<th>Policy EndDate</th>
						<th>Policy Owner</th>
						<th>contact</th>
						<th></th>
					  </thead>
					  <tbody>
						<tr th:each="policy : ${policies}">
						  <td><th:block th:text="${policy.id}"></th:block></td>
						  <td><th:block th:text="${policy.policyName}"></th:block></td>
						  <td><th:block th:text="${policy.endDate}"></th:block></td>
						  <th:block th:with="client=${clients.get(policy.clientId.toString())}">
							<td><th:block th:text="${client != null ? (client.firstName != null ? client.firstName + ' ' + client.lastName : client.companyName) : ''}"></th:block></td>
							<td><th:block th:text="${client != null ? client.email : ''}"></th:block></td>
						  </th:block>
						  <td>
							  <div class="table-row-btns">

								<a class="" th:title="#{template.view}" data-toggle="modal" data-target="#sendEmailModal">
								  <i class="fas fa-envelope text-primary"></i>
								</a>
							  </div>
						  </td>
						</tr>
					  </tbody>
					</table>

					<!-- Modal -->
					<div class="modal fade" id="sendEmailModal" tabindex="-1" role="dialog" aria-labelledby="sendEmailModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">

								<form th:action="''" method="post">
									<div class="modal-header">
										<h5 class="modal-title" id="sendEmailModalLabel">Send Email</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<input type="hidden" id="clientId" name="clientId" th:value="${client_id}"/>
										<div class="form-group">
											<textarea class="form-control" type="text" id="message" name="message" required placeholder="type email"></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<button th:disabled="${isDisabled}" class="btn-primary btn btn-sm" type="submit">Send</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				  </div>
		  </div>

	  </div>
    </div>
</div>
</body>
</html>
